<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.order_system.mapper.TablesMapper">

    <!-- 查找所有桌台 -->
    <select id="selectAll" resultType="com.newer.order_system.pojo.Table">
        select * from tables
    </select>

    <!-- 根据桌台id查找桌台 -->
    <select id="findByID" parameterType="java.lang.Long" resultType="com.newer.order_system.pojo.Table">
        select * from tables where id = #{from}
    </select>

    <!-- 添加桌台 -->
    <insert id="insertTable" parameterType="String">
        insert into tables (title) values (#{title})
    </insert>

    <!-- 更换桌台名 -->
    <update id="updateTableName">
        update tables set title = #{title} where id = #{id}
    </update>

    <!-- 删除桌台 -->
    <delete id="deleteTable" parameterType="java.lang.Long">
        delete from tables where id = #{id}
    </delete>

    <!-- 关闭桌台 -->
    <update id="tableOff" parameterType="java.lang.Long">
        update tables set num=0, status='OFF' where id = #{id}
    </update>

    <!-- 开启桌台 -->
    <update id="tableOn" parameterType="java.lang.Long">
        update tables set  status='ON' where id = #{id}
    </update>
</mapper>